# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
docs
# Node
node_modules/
frontend/dist/

# Data
*.db
backend/data/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yaml
